:root {
    --text: rgb(11, 11, 22);
    --background: rgb(247, 247, 251);
    --primary: rgb(85, 83, 172);
    --secondary: rgb(212, 167, 177);
    --accent: rgb(192, 150, 125);
    }

.bs-ascent{
    background-color: rgba(212, 167, 177, 0.111);
}