<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../public/icons/list.svg" alt="iconoMenu" width="35" height="25" />
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">IntercambiaLibros</a>
        </li>
      </ul>
      <!-- Barra de busqueda -->
      <div class="d-flex justify-content-center w-100">
        <form class="d-flex" role="search" style="max-width: 500px; width: 100%">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="Buscar" aria-label="Buscar" />
            <button class="btn btn-outline-secondary" type="submit">
              <img src="../../public/icons/search.svg" alt="iconoBusqueda" width="20" height="20" />
            </button>
          </div>
        </form>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 text-nowrap px-2" href="#">
            <img src="../../public/icons/cloud-upload.svg" alt="iconoSubirLibro" with="18" height="18" />
            Subir Libro
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 text-nowrap px-2" href="#">
            <img src="../../public/icons/person-fill.svg" alt="iconoCuenta" with="18" height="18" />
            Mi Cuenta
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 text-nowrap ps-2" href="#">
            <img src="../../public/icons/bell.svg" alt="iconoNotificacion" with="18" height="18" />
            Notificacion
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
